<header class="header-global" id="home">
    <nav class="navbar navbar-expand-lg navbar-light pt-3 sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/img/brand/dayl_logo_full.svg" width="150" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end mt-3 mt-lg-0"
                 id="navbarSupportedContent">
                <ul class="navbar-nav pl-3 pl-lg-0">
                    <li class="nav-item ml-lg-3">
                        <a class="nav-link" href="/about/discover">{{ "header.discover"|trans }}</a>
                    </li>
                    <li class="nav-item ml-lg-3">
                        <a class="nav-link" href="mailto:ander@murias.nl">{{ "header.contact"|trans }}</a>
                    </li>
                    <li class="nav-item ml-lg-3 mt-3 mt-lg-0">
                        <a class="btn px-3 btn-outline-primary btn font-weight-bold text-uppercase" href="/login">
                            {{ "header.button"|trans }}
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>