<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=1.0">
    <link rel="manifest" href="/favicon/site.webmanifest?v=1.0">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=1.0" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=1.0">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>Dayl - Daily log, made easy</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
